.login--page {

    $primary-color : #1172c6;

    main {
        display: flex;
        align-items: center;
    }

    .login--container {
        min-height: 100vh;
    }

    .login--title {
        font-size: 18px;
        color: #787878;
        place-content: center;
    }

    .login--title .line {
        border-top: 1.5px solid #787878;
        width: 150px;
    }

    @media screen and (max-width: 1199px) {
        .login--title {
            font-size: 16px;
        }
    }

    form .form-group {
        margin-bottom: 2rem;
    }

    form .form-group label {
        font-weight: 600;
    }

    form .form-group input {
        padding: 0.5rem 0.75rem;
        height: 48px;
        background: transparent;
        border-radius: 10px;
        border: 1px solid #bdbdbd;
    }

    form .form-group.field-password {
        position: relative;
    }

    form .form-group.field-password input{
        padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    }

    form .form-group.field-password i {
        position: absolute;
        top: 53px;
        right: 12px;
    }

    form .form-group input:focus {
        border-color: $primary-color;
    }

    form .form-group .btn.btn--database {
        background: $primary-color;
        border-color: $primary-color;
        color: #fff;

        &:hover, &:active{
            background: darken($primary-color, 10%);
        }
    }

    form .form-group .btn.btn--database i {
        padding-left: 8px;
        font-size: 11px;
    }

    form .oe_login_buttons .btn {

        background: $primary-color;
        color: #fff;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 12px;
        border-radius: 10px;
        border: none;

        &:hover, &:active{
            background: darken($primary-color, 10%);
        }
    }

    @media screen and (max-width: 768px) {
        form .oe_login_buttons .btn {
            width: 100%;
            margin-left: 0%;
        }
    }

    form .oe_login_buttons .btn.btn-link {
        background: #fff;
        color: $primary-color;
    }

    .login--footer a {
        color: #212529;
        font-size: 14px;
        text-decoration: none;
        white-space: nowrap;
    }

    .login--footer a span {
        color: $primary-color;
        font-weight: 600;
    }

}